.small {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F75D0E;
    color: #FDDCC9;
    font-weight: 700;
    border: none;
    width: 150px;
    height: 45px;
    
}