@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.shop_now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4%;
  height: 150px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.shop_now .main_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Work sans", sans-serif;
  font-size: 3em;
  font-weight: 600;
  height: 50px;
  width: 600px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}
.shop_now .secondary_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14%;
  font-family: "Work sans", sans-serif;
  font-size: 1.35em;
  height: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 600px;
}