.slider {
    display: flex;
    overflow-x: hidden;
    max-width: 50vw;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-top: 2%;

    .slide {
        display: flex;
        justify-content: center;
        align-self: center;

        .slider_img {
            display: flex;
            width: 100%;
            margin: 5%;
        }
    }
}

